<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app" class="container">
    <!-- 昵称 -->
    <div class="nicknameContainer mrg-ten">
        <!-- 昵称 -->
        <span class="nicknameBox overflowHidden">openId:{{openId}}</span>
        <!-- 过期时间 -->
        <span class="nicknameBox overflowHidden" style="width: 230px;">过期时间:{{vipDueTime}}</span>
        <!-- 续费 -->
        <el-button type="primary" @click="renewalEvent">续费</el-button>
    </div>
    <!-- 设置选项 -->
    <div style="margin-left: 4%;">设置选项</div>
	<div class="nicknameContainer">
		<!-- 设置项 -->
		<span class="nicknameBox">自动关闭</span>
		<!-- 设置项功能说明 -->
		<span class="nicknameBox" style="width: 1000px;height: auto;">选中后自动关闭</span>
		<!-- 开关 -->
		<el-switch
				v-model="whether_to_shut_down_automatical"
				active-color="#13ce66"
				@change="switchChange"
				inactive-color="#ff4949">
		</el-switch>
	</div>
	<div class="nicknameContainer">
		<!-- 设置项 -->
		<span class="nicknameBox">输入任意文本匹配翻译</span>
		<!-- 设置项功能说明 -->
		<span class="nicknameBox" style="width: 1000px;height: auto;">可配合超级面板使用</span>
		<!-- 开关 -->
		<el-switch
				v-model="any_text_match"
				active-color="#13ce66"
				@change="switchChange"
				inactive-color="#ff4949">
		</el-switch>
	</div>
	<div class="nicknameContainer">
		<!-- 设置项 -->
		<span class="nicknameBox">切换粘贴方式</span>
		<!-- 设置项功能说明 -->
		<span class="nicknameBox" style="width: 1000px;height: auto;">开启是模拟输入法,关闭是粘贴快捷键</span>
		<!-- 开关 -->
		<el-switch
				v-model="switch_paste_method"
				active-color="#13ce66"
				@change="switchChange"
				inactive-color="#ff4949">
		</el-switch>
	</div>
</div>
<script type="text/javascript">
    new Vue({
        el: '#app',
		created () {
			this.getInfo();
			this.switchSetting();
		},
        data: {
            value: true,
            set: true,
            // 昵称
            // 过期时间
            expirationTime: "",
			switch_paste_method: true,
			any_text_match: true,
			whether_to_shut_down_automatical: true,
            // 设置项数据
            openId: "",
            vipDueTime: "",


        },
        methods: {
			renewal(){
				this.getToken();
				let xhr = null;
				if (window.XMLHttpRequest) {
					xhr = new XMLHttpRequest();
				} else {
					xhr = new ActiveXObject('MicroSoft.XMLHTTP');
				}
				xhr.open('GET', "https://codevar-api.motouguai.com" + "/utools/info?accessToken=" + window.access_token + "&renew=1", true);
				xhr.setRequestHeader('Accept', 'application/json');
				xhr.setRequestHeader('Content-Type', 'application/json');
				xhr.onreadystatechange = () => {
					if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
						var data = {};
						try {
							data = JSON.parse(xhr.responseText);
							if (data.code === 110) {
								utools.showNotification(data.msg);
							} else if (data.code === 111) {
								utools.showNotification(data.msg);
								utools.openPayment({goodsId: data.data.goodsId}, () => {
									utools.showNotification("续费成功,请稍等片刻继续使用!")
								})
							}
						} catch (e) {
							alert(e);
						}

					}
				}
				try {
					xhr.send();
				} catch (e) {
					alert("请求失败哈")
				}


			},
            // 续费事件
            renewalEvent() {
                this.renewal();
            },
            switchChange: function () {
                console.log(this.whether_to_shut_down_automatical);
                if (this.whether_to_shut_down_automatical) {
                    utools.dbStorage.setItem('whether_to_shut_down_automatical', "1")
                } else {
                    utools.dbStorage.setItem('whether_to_shut_down_automatical', "0")
                }

                if (this.any_text_match) {
                    this.addany_text_match()
                    utools.dbStorage.setItem('any_text_match', "1")
                } else {
                    this.removeany_text_match()
                    utools.dbStorage.setItem('any_text_match', "0")
                }

                if (this.switch_paste_method) {
                    utools.dbStorage.setItem('switch_paste_method', "0")
                } else {
                    utools.dbStorage.setItem('switch_paste_method', "1")
                }
            },
            switchSetting() {
                whetherToShutDownAutomatical = utools.dbStorage.getItem('whether_to_shut_down_automatical');
				console.log(whetherToShutDownAutomatical);
                if (whetherToShutDownAutomatical === null) {
                    utools.dbStorage.setItem('whether_to_shut_down_automatical', "1")
                    this.whether_to_shut_down_automatical = true;
                } else {
                    console.log("whetherToShutDownAutomatical");
                    if (whetherToShutDownAutomatical === "1") {
                        this.whether_to_shut_down_automatical = true;
                    } else {
                        this.whether_to_shut_down_automatical = false;
                    }
                }

                any_text_match = utools.dbStorage.getItem('any_text_match');
                if (any_text_match === null) {
                    utools.dbStorage.setItem('any_text_match', "0")
                    this.any_text_match = false
                } else {
                    if (any_text_match === "1") {
                        this.any_text_match = true;
                    } else {
                        this.any_text_match = false;
                    }
                }

                switch_paste_method = utools.dbStorage.getItem('switch_paste_method');
                if (switch_paste_method === null) {
                    utools.dbStorage.setItem('switch_paste_method', "0")
                    this.switch_paste_method = true;
                } else {
                    if (switch_paste_method === "1") {
                        this.switch_paste_method = false;
                    } else {
                        this.switch_paste_method = true;

                    }
                }
                console.log(whetherToShutDownAutomatical, any_text_match, switch_paste_method);
            },
            removeany_text_match() {
                utools.removeFeature('switch_any_text')
            },
            addany_text_match() {
                utools.setFeature({
                    "code": "switch_any_text",
                    "explain": "使用变量快速翻译命名插件",
                    "cmds": [
                        {
                            "type": "over",
                            "label": "选择格式后进行命名"
                        }
                    ]
                })
            },
            getInfo() {
                this.getToken();
                let xhr = null;
                if (window.XMLHttpRequest) {
                    xhr = new XMLHttpRequest();
                } else {
                    xhr = new ActiveXObject('MicroSoft.XMLHTTP');
                }
                xhr.open('GET', "https://codevar-api.motouguai.com" + "/utools/info?accessToken=" + window.access_token, true);
                xhr.setRequestHeader('Accept', 'application/json');
                xhr.setRequestHeader('Content-Type', 'application/json');
				var _this = this;
                xhr.onreadystatechange = () => {
                    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                        let data = {};
                        try {
                            data = JSON.parse(xhr.responseText);
							_this.openId = data.data.openId;
							_this.vipDueTime = data.data.vipDueTime;
                        } catch (e) {
                            alert(e);
                        }

                    }
                }
                try {
                    xhr.send();
                } catch (e) {
                    alert("请求失败哈")
                }


            },
            getToken(force) {
                console.log("getToken" + force);
                var token = utools.db.get("token");
                var tokenTime = utools.db.get("token_time");
                if (token != null && tokenTime != null) {
                    if ((Date.now() - tokenTime.data) < 6100000 && force !== true) {
                        window.access_token = token.data;
                        return;
                    } else {
                        utools.fetchUserServerTemporaryToken().then((res) => {
                            window.access_token = res.token;

                            utools.db.put({
                                _id: "token",
                                data: res.token,
                                _rev: token._rev
                            })
                            utools.db.put({
                                _id: "token_time",
                                data: Date.now(),
                                _rev: tokenTime._rev
                            })
                        });
                    }
                } else {
                    utools.fetchUserServerTemporaryToken().then((res) => {
                        window.access_token = res.token;

                        utools.db.put({
                            _id: "token",
                            data: res.token
                        })
                        utools.db.put({
                            _id: "token_time",
                            data: Date.now()
                        })
                    });
                }


            }
        },
    })
</script>
</body>
</html>

<style>
    .container {
        border: 1px solid #7b7b7b;
        padding: 5px 20px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
    }

    .nicknameContainer {
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mrg-ten {
        margin-bottom: 10px;
    }

    .nicknameBox {
        width: 150px;
        border-radius: 2px;
        padding: 5px;
        height: 30px;
        text-align: center;
    }

    .overflowHidden {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>